<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203088853377-3ucjf4u4nnvk4ms4h6j5ct5u2vkoejvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203088853377-3ucjf4u4nnvk4ms4h6j5ct5u2vkoejvf</string>
	<key>API_KEY</key>
	<string>AIzaSyDmMBmnyzan1vMg6GrFc05e1V8Fx85k1dg</string>
	<key>GCM_SENDER_ID</key>
	<string>203088853377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jolimall.xingzezhi</string>
	<key>PROJECT_ID</key>
	<string>jolimall</string>
	<key>STORAGE_BUCKET</key>
	<string>jolimall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:203088853377:ios:43a3452867ed79a2</string>
	<key>DATABASE_URL</key>
	<string>https://jolimall.firebaseio.com</string>
</dict>
</plist>
