<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App Transport Security Settings  dictionary</key>
	<dict>
		<key>Allow Arbitrary Loads  bool</key>
		<true/>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>JoLiMall线上</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JoLiMall</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2135388343426658</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Pinterest</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pdk5029225042922225929</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>palpay支付成功</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>palpay支付失败</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>进入页面</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>回到APP</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>进入商品页面</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>进入商品详情</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>2135388343426658</string>
	<key>FacebookDisplayName</key>
	<string>JoLiMall</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>pingPong.demo.async</string>
		<string>zbyB2C.Elecricity.PingPong.async</string>
		<string>org-appextension-feature-password-management</string>
		<string>com.paypal.ppclient.touch.v2</string>
		<string>com.paypal.ppclient.touch.v1</string>
		<string>com.facebook.sdk.login</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-platform-20150128</string>
		<string>fb-messenger-platform-20150218</string>
		<string>fb-messenger-platform-20150305</string>
		<string>fb-messenger-api</string>
		<string>fbshareextension</string>
		<string>com.facebook.sdk.core</string>
		<string>whatsapp</string>
		<string>line</string>
		<string>pinterestsdk.v1</string>
		<string>api.pushio.com</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Is this App allowed to access the media library?</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Is this App allowed to access bluetooth?</string>
	<key>NSCameraUsageDescription</key>
	<string>Is this App allowed to use your camera?</string>
	<key>NSContactsUsageDescription</key>
	<string>Is this App allowed to read address book information?</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>use GPS to prepare personalized recommendations for you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>use GPS to prepare personalized recommendations for you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Is this App allowed to use your microphone?</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>It is convenient for you to share</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Whether this App is allowed to access the album？</string>
	<key>NSRemindersUsageDescription</key>
	<string>Is this App allowed to access reminders?</string>
	<key>NSSiriUsageDescription</key>
	<string>Is this App allowed to use Siri?</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Is this App allowed to use voice recognition?</string>
	<key>Privacy - Calendars Usage Description </key>
	<string>Is this App allowed to use the calendar?</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
